version: '3.8'

services:
  server:
    build: ./server
    container_name: paradise_server
    restart: always
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: 3001
      JWT_SECRET: ${JWT_SECRET}
      CLIENT_URL: ${CLIENT_URL}
